# Logs
logs
*.log
npm-debug.log*

# dependencies
/node_modules
dist
dist-ssr
*.local

# misc
.DS_Store

#env 
.env.local
.env.development
.env.production
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?