.contact_layout {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
  .submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: rgb(107, 52, 127);
    }
  }
}
.map {
  width: 500px;
  max-height: 470px;
  margin-left: auto;
  & img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .map {
    display: none;
  }
}
